.contact .heading{
        background: linear-gradient(90deg, rgba(28,174,149,1) 20%, rgba(171,209,95,1) 60%);
        background-clip:text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}