.footer-container{
    
    display: flex;
    justify-content: space-between;
    width: 60%;
    min-height: 350px;
    padding:10px;
}

.footer-logo-quote {
    display: flex;
    flex-direction: column;
}
.footer-logo-quote > div{
    width: 250px;
}

.footer-follow > div img{
    width:30px;
    height:30px;
    margin-left: 3px;
}

.footer-title{
    color: white;
    font-weight: bold;
    font-size: large;
}

.text{
    color: gray;
    cursor: pointer;
    font-size: 15px;
    text-align: left;
}

.copy-right{
    background-color: black;
    text-align: center;
    font-size: 23px;
}

.copy-right span{
    color: white;
}

.footer-useful {
    font-size: 40;
}